.base-modal {
        display: flex;
        flex-direction: column;
        width: 560px;
        /* height: 476px; */
        background-color: white;
        border-radius: 8px;
        padding: 24px;
        gap:16px;
}

.base-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.base-modal .main-button {
    margin-top: 8px;
}

.base-modal-header p{
    font-size: 32px;
    font-weight: bold;
}

@media(max-width:600px) {
    .base-modal {
        width: auto;
        margin: 0 16px 0 16px;
    }

    .base-modal p:nth-child(1) {
        font-size: 24px;
    }
}