.modal-drop-down-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
}

.modal-drop-down-menu-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    border: 1px solid #98908B;
    border-radius: 8px;
    padding: 0 16px 0 16px;
}

.modal-drop-down-menu-colored-tag-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.modal-drop-down-menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 240px;
    top: 76px;
    padding: 16px;
    border-radius: 8px;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0px 2px 2px 4px #F2F2F2;
    z-index: 2;
    /* background-color: lightsteelblue; */
}

.modal-drop-down-menu-content.show {
    display: flex;
}

.modal-drop-down-menu-content li:hover {
    font-weight: bold;
}

.modal-drop-down-menu-selector:hover {
    border: 1.5px solid #201F24;
}

@media(max-width:1200px) {
    .modal-drop-down-menu-content {
        height: 180px;
    }
}

@media (max-width:600px) {
    .modal-drop-down-menu-selector p:nth-child(1) {
        font-size: 14px;
    }

    .modal-drop-down-menu-colored-tag-section p:nth-child(2) {
        font-size: 14px;
    }

    .modal-drop-down-menu-content {
        font-size: 14px;
    }
}