.side-nav-bar{
    display: flex; 
    flex-direction: column; 
    width: 20%; 
    height: inherit;
    background-color: black; 
    border-top-right-radius: 24px; 
    border-bottom-right-radius: 24px; 
    padding-top: 40px;
}

@media(max-width:1200px){
    .side-nav-bar{display: none;}
}