.side-nav-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-top: 40px;
    box-sizing: border-box;
}

@media(max-width:1200px){
    .side-nav-bar{display: none;}
}