.sign-out-button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: #B3B3B3;
    fill:#B3B3B3;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
    cursor: pointer;
     /* background-color: grey; */
}

.sign-out-button svg {
    width: 62px;
    height: 62px;
    padding-left: 32px;
}

.sign-out-button:hover {
        color: #277C78;
        fill: #277C78;
}