/*!! TODO: refactor css order and conver px to rem */

.text-form-field-container {
    display: flex;
    width: 100%;
    height: 42px;
    border: 1px solid #98908B;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

.text-form-field{
    background: transparent;
    border: none;
    padding-left: 12px;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

/*
 Pseudo Class

    - keyword added to a selector that specifies a special state of the selected element

    - anchor element:pseudo-class name
    */

.text-form-field-container:hover {
    border: 1.5px solid #201F24;
}

.text-form-field-container:focus-within {
    border: 1.5px solid #201F24;
}

.text-form-field:focus {
    border: none;
    outline: none;
}