/*!! TODO: refactor css order and conver px to rem */

.textFormFieldContainer {
    display: flex;
    width: 100%;
    height: 42px;
    border: 1px solid #98908B;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

.textFormField{
    background: transparent;
    border: none;
    padding-left: 12px;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

/*
 Pseudo Class

    - keyword added to a selector that specifies a special state of the selected element

    - anchor element:pseudo-class name
    */

.textFormFieldContainer:hover {
    border: 1.5px solid #201F24;
}

.textFormFieldContainer:focus-within {
    border: 1.5px solid #201F24;
}

.textFormField:focus {
    border: none;
    outline: none;
}