.budget-card-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 568px;
    background-color: white;
    border-radius: 12px;
    padding: 32px;
    gap: 32px;
}

.budget-card-list-tile-section {
    display: flex;
    align-items: center;
    width: 100%;
}

#max-amount {
    color: #696868;
    font-size: 16px;
}

@media(max-width:1440px) {
    .budget-card-main {
        padding: 24px;
        gap: 24px;
    }
}

@media(max-width:1200px) {
    .budget-card-main {
        gap: 16px;
    }
}

@media(max-width: 600px) {

    .budget-card-main {
        padding: 16px;
        gap: 12px;
        height: auto;
    }

    #max-amount {
        color: #696868;
        font-size: 12px;
    }
}
