.budget-summary-main {
    display: flex;
    width: 100%;
    height: 312px;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 24px;
    background-color: white
}

.budget-summary-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 280px;
    padding-left: 12px;
    padding-right: 12px;


}

.budget-summary-total-spending {
    display: flex;
    flex-direction: column;
    height: 236px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.budget-summary-bold-text {
    font-size: 20px; 
font-weight: bold;
}

.budget-spending-summary {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 236px;
    gap: 16px;
}

.budget-summary-total-spending div p:nth-child(1){
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 1px;
    text-align: center;
}

.budget-summary-total-spending div p:nth-child(2){
    font-size: 12px;
    font-weight: normal;
    color: #696868;
    text-align: center;
    letter-spacing: 1px;
}



.budget-summary-total-spending div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@media (max-width:1440px){
    .budget-spending-summary {
        width: 400px;
    }
}

@media(max-width:1050px){
    .budget-summary-main {
     flex-direction: column;
     height: auto;
     gap: 24px;
    }

    .budget-summary-total-spending {
        height: auto;
    }

    .budget-summary-total-spending div{
        flex-direction: row;
    }

    .budget-spending-summary {
        width: 100%;
    }
}

@media(max-width:600px){
    .budget-summary-main {
        padding:16px;
    }
}