.latest-spending-card-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    border-radius: 16px;
    background-color: #F8F4F0;
    gap: 16px;
}

.latest-spending-card-list-tile-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media(max-width:600px){
    .latest-spending-card-main{
    padding: 16px;
    gap: 12px;
    max-height: 270px;
    }

    .latest-spending-card-list-tile-section {
        gap: 12px;
    }
}