.overview-pots-transaction-section-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 24px;
}

@media(max-width: 1200px){
    .overview-pots-transaction-section-container{
    height: auto;
    width: auto;
    gap: 16px;
    }
}