.overview-budget-bills-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    gap: 24px;
}

@media(max-width: 1200px){
    .overview-budget-bills-section{
    min-height:700px;
    width: 100%;
    }
}