.overview-title-text-button-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.overview-icon-text-button{
    display: flex;
    align-items: center;
    height: 20px;
    fill:#696868;
    color:#696868;
    cursor: pointer;
    gap: 8px;
}

.colored-line-list-tile {
    display: flex;
    height: 100%;
    gap: 8px;
    text-overflow: ellipsis;
  }
  
.colored-line-list-tile-content{
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
  }
  
.colored-line-list-tile-vertical-line{
    width: 4px;
    height: 100%;
    border-radius: 12px;
  }

.overview-title-text-button-section #title{
    font-size: 24px; 
    font-weight: bold;
}

.overview-icon-text-button p {
    font-size: 14px; 
    font-weight: 400;
}

.overview-icon-text-button:hover{
    fill: black;
    color:black;
    font-weight: 500;
}

@media (max-width: 1200px){
      
  .colored-line-list-tile-content{
    padding: 0px;
    }
  
  .overview-view-main .colored-line-list-tile-content p{
    font-size: 14px;
  }
  
  }
  
@media (max-width: 800px){
    .colored-line-list-tile{
        /* height: 36px; */
        gap:6px;
      }
      
    .overview-view-main .colored-line-list-tile-content p{
        font-size: 12px;
      }
  }
  
@media (min-width:1450px){
    .colored-line-list-tile-content{
      padding: 2px 0 2px 0;
    }
  }

@media(max-width: 600px){
    .colored-line-list-tile p{
        white-space: nowrap
        }
      
    .colored-line-list-tile-content p{
        font-size: 12px;
      }

    .overview-icon-text-button{
        gap: 6px;
    }

    .overview-icon-text-button p {
        font-size: 12px; 
    }

    .overview-title-text-button-section #title{
        font-size: 16px; 
    }
}