#auth-image-container{
    position: relative;
    /* TODO: ensure chage from 100% to 100vh did not break views larger than 1440px */
    height: 100vh;
}


@media (max-width: 1200px) {
    #auth-image-container {
      display: none; 
    }
  }

  