.pots-view-content {
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;
}

@media (max-width:1200px) {
    .pots-view-content {
        grid-template-columns: auto;
        gap: 16px;
    }
}