td {
    border-top: 1px solid #F2F2F2;
  }

th {
    font-size: 14px; 
    font-weight: normal;
    color: #696868;
    text-Align:start;
  }

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  }

td:nth-child(1) {
    font-size: 14px;
    font-weight: bold; 
    }

/* td:nth-child(2) {}
  
td:nth-child(3) {} */

td:nth-child(4) {
    font-size: 14px;
    font-weight: bold;
    text-align: end;
   }

.transaction-view-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 32px;
    gap: 32px;
}

.transaction-view-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    gap: 24px;
    background-color: white;
}

.transaction-filters-container{
    display: flex;
    gap: 240px;
}

.transaction-drop-down-container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.transaction-avatar-name{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 16px;
  background-color: #ffffff;
  padding: 12px 0px 12px 0px;
}

.transaction-table-wrapper{
  max-height: 74vh;
  overflow-y: scroll;
}

.transaction-list-tile-wrapper{
   height: 74vh;
   overflow-y:scroll;
}

/* #sort-drop-down-menu ul{} */

#filter-drop-down-menu ul{
  width: 180px;
  margin-left: 77px;
  height: auto;
  max-height: 500px;
  /* background-color: aqua; */
}

@media (max-width: 1440px){

  .transaction-view-main {
    padding: 24px;
    gap: 24px;
  }

  th {
    font-size: 12px; 
  }
}

@media (max-width: 1250px){
  .transaction-filters-container{
    gap:32px;
  }

  .transaction-drop-down-container .drop-down-menu-content{
    padding: 8px 12px 8px 12px;
  }

  .transaction-view-content{
    gap: 16px;
    max-height: 92.5%;
  }

}

@media (max-width: 1200px){

  .transaction-view-main {
    max-height: 100vh;
    gap: 16px;
    padding: 24px 24px 80px 24px;
  }
}


@media (max-width: 800px){

  .transaction-filters-container{
    gap:16px;
}

  .transaction-drop-down-container{
  gap:16px;
}


  .transaction-drop-down-container .drop-down-menu-content{
    gap: 12px;
    
    padding: 6px 10px 6px 10px;
  }

  .drop-down-menu-container p{
    font-size: 12px;
  }

  .drop-down-menu-container img{
    width: 10px;
    height: 10px;

  }

  td:nth-child(1) {
    font-size: 12px;
    font-weight: bold; 
    }

  td:nth-child(4) {
      font-size: 12px;
    }

  #filter-drop-down-menu ul{
      width: 160px;
      margin-left: 55px;

    }

  #sort-drop-down-menu ul{
      margin-left: 46px;
    }

  .search-field-container .search-icon{
      width: 32px;
      height: 32px;
      padding-right: 16px;
      fill: #201f24;
    }
}

@media (max-width: 600px){
  .transaction-view-main {
      padding: 16px 16px 80px 16px;
  }

  .transaction-list-tile-wrapper{
    height: 72vh;
  }

  .transaction-view-main {
    max-height: 100%;
  }
}

@media (max-width: 365px){
  /* TODO: style search field for small screens 365*/
/* .search-field-container{} */
}

@media(max-height:800px){
  .transaction-view-main {
    max-height: 100%;
  }
}

